doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/article/create') Create Article
          li
            a(href='/reporter/create') Create Reporter
      img.logo(src='/images/logo.png', alt='Newspaper Logo')
    main
      block content
    footer
      p &copy; Aotearoa News Network 2023